@using Nancy.Json;
@using System.Net.Http;
@using ASP.NET_Core.APIComunication
@using ASP.NET_Core.Models

@model FiltersSearchDto
@{
    ViewData["Title"] = "Swift Claw";

}




<div class="container font-sajt" style="background-color:white">

    <div class="text-center" style="margin-top:95px;">
        <hr />
        <h1 style="font-size:2em">Swift Claw</h1>
    </div>
    <hr />


    <div class="jumbotron jumbotron-fluid" style="background-image:url(https://s5.gifyu.com/images/IMG_20191208_180520-1-1.png); border-radius:0; max-height:600px; background-size:100% 100%">
        <div class="col-md-6  text-center" style="margin-top:100px">
            <h1 class="display-4" style="-webkit-text-stroke: 3.5px #2E0D5F; color:white"><em>Postani Kandžica!</em></h1>           
            <form asp-action="Shop">
                <input type="submit" class="dugmejumbotron zoom" value="Kupi odmah!" />
            </form>
        </div>
    </div>
    <hr />



    <div class="container">
        <p style="font-size: 25px;  text-align: center;"><em>Naši proizvodi</em></p>
        <div class="card-deck-1" id="cardDeck">
            <div class="row">
                <div class="container">
                    @{
                        var jsonString = APIClient.SetAPIClient("Product/MostPurchases", HttpMethod.Get);
                        JavaScriptSerializer jsonSerializer = new JavaScriptSerializer();
                        var item = jsonSerializer.Deserialize<ProductReadDto>(jsonString);
                    }
                    <div class="col-md-4 card-space ">
                        <form method="get" asp-action="Product" asp-controller="Home">
                            <div class="flip-box">
                                <div class="flip-box-inner">
                                    <div class="flip-box-front">
                                        <img class="card-img-top" src="@item.ImgUrl" alt="Card image cap">
                                        <div class="card-body mt-4 mr-1">
                                            <h4 class="card-title"><a style="color:white">Najprodavaniji</a></h4>
                                            <div class="dropdown-divider"></div>
                                            <p class="card-text" style="color:white">Price: @item.Price</p>
                                        </div>
                                    </div>
                                    <div class="flip-box-back form-check" style="font-size: 30px; font-family: Impact;">
                                        <br /><br /><br /><br />
                                        <input asp-for="ProductForViewId" value=@item.Id type="hidden" />
                                        <input type="submit" value="Kupi" style="color: white; background-color: #78649E" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    @{
                        jsonString = APIClient.SetAPIClient("Product/MostPopular", HttpMethod.Get);
                        item = jsonSerializer.Deserialize<ProductReadDto>(jsonString);
                    }
                    <div class="col-md-4 card-space ">
                        <form method="get" asp-action="Product" asp-controller="Home">
                            <div class="flip-box">
                                <div class="flip-box-inner">
                                    <div class="flip-box-front">
                                        <img class="card-img-top" src="@item.ImgUrl" alt="Card image cap">
                                        <div class="card-body mt-4 mr-1">
                                            <h4 class="card-title"><a style="color:white">Najpopularniji</a></h4>
                                            <div class="dropdown-divider"></div>
                                            <p class="card-text" style="color:white">Price: @item.Price</p>
                                        </div>
                                    </div>
                                    <div class="flip-box-back form-check" style="font-size: 30px; font-family: Impact;">
                                        <br /><br /><br /><br />
                                        <input asp-for="ProductForViewId" value=@item.Id type="hidden" />
                                        <input type="submit" value="Kupi" style="color: white; background-color: #78649E" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    @{
                        jsonString = APIClient.SetAPIClient("Product/LatestProduct", HttpMethod.Get);
                        item = jsonSerializer.Deserialize<ProductReadDto>(jsonString);
                    }
                    <div class="col-md-4 card-space ">
                        <form method="get" asp-action="Product" asp-controller="Home">
                            <div class="flip-box">
                                <div class="flip-box-inner">
                                    <div class="flip-box-front">
                                        <img class="card-img-top" src="@item.ImgUrl" alt="Card image cap">
                                        <div class="card-body mt-4 mr-1">
                                            <h4 class="card-title"><a style="color:white">Najnoviji</a></h4>
                                            <div class="dropdown-divider"></div>
                                            <p class="card-text" style="color:white">Price: @item.Price</p>
                                        </div>
                                    </div>
                                    <div class="flip-box-back form-check" style="font-size: 30px; font-family: Impact;">
                                        <br /><br /><br /><br />
                                        <input asp-for="ProductForViewId" value=@item.Id type="hidden" />
                                        <input type="submit" value="Kupi" style="color: white; background-color: #78649E" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <br />
    <hr />






    <div class="video-responsive">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/RiV000Xg65c?autoplay=0" frameborder="0" allowfullscreen></iframe>
    </div>

    <br />


</div>