@model Product
@{
    ViewData["Title"] = "Proizvod";
}

    <div class="container">
       
        <div class="text-center" style="margin-top:95px;">
            <hr />
            <h1 style="font-size:2em">@Model.Name</h1>
        </div>
        <hr />
    </div>  

    <main >
        <div class="container dark-grey-text mt-5">

            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-md-6 mb-4">

                    <img src="@Model.ImgUrl" class="img-fluid" alt="">

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 mb-4">

                    <!--Content-->
                    <div class="p-4">
                        <!--FILTERs-->
                        <div class="mb-3">
                            <a href="">
                                @if (Model.Category != null)
                                {
                                    <span class="badge purple mr-1">@Model.Category.Name</span>
                                }
                            </a>
                        </div>

                        <p class="lead">
                            <!--<span class="mr-1">
            <del>$200</del>
        </span>-->
                            <span>@Model.Price</span>
                        </p>

                        <p class="lead font-weight-bold">Opis</p>

                        <p>
                            @Model.Description
                        </p>

                        <p class="lead font-weight-bold">Veličina</p>                        
                        @if (Model.Size != null)
                        {
                        <form>
                            @foreach (var size in Model.Size)
                            {
                            <label class="radio-inline">
                                <input type="radio" name="optradio" checked value="@size.Id" >@size.Name
                            </label>
                            }
                        </form>
                        }

                        <form class="d-flex justify-content-left">
                            <!-- Default input -->
                            <a href="#" data-name="@Model.Name" data-price="@Model.Price" class="add-to-cart btn btn-primary" style="width:100%">Dodaj u korpu</a>
                        </form>

                    </div>
                    <!--Content-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <hr>
            </div>
            </main>













    