@using Nancy.Json;
@model User

@{
    ViewData["Title"] = "Profile";
}

    <div class="container font-sajt" style="background-color:white">
        <div class="text-center" style="margin-top:95px;">
            <hr />
            <h1 style="font-size:2em">Profil</h1>
        </div>
        <hr />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    @{
                        var user = ViewBag.Model;
                        var str = Convert.ToString(user);
                        JavaScriptSerializer javaScriptSerializer = new JavaScriptSerializer();
                        User item = javaScriptSerializer.Deserialize<User>(str);
                    }                  

                    <dl class="row">
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.Id):
                        </dt>
                        <dd class="col-md-9">
                            @item.Id
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.FirstName):
                        </dt>
                        <dd class="col-md-9">
                            @item.FirstName
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.LastName):
                        </dt>
                        <dd class="col-md-9">
                            @item.LastName
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.EMail):
                        </dt>
                        <dd class="col-md-9">
                            @item.EMail
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.Password):
                        </dt>
                        <dd class="col-md-9">
                            @item.Password
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.DateOfBirth):
                        </dt>
                        <dd class="col-md-9">
                            @item.DateOfBirth
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.GenderId):
                        </dt>
                        <dd class="col-md-9">
                            @item.GenderId
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.Adress):
                        </dt>
                        <dd class="col-md-9">
                            @item.Adress
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.AdressNumber):
                        </dt>
                        <dd class="col-md-9">
                            @item.AdressNumber
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.Place):
                        </dt>
                        <dd class="col-md-9">
                            @item.Place
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.Contry):
                        </dt>
                        <dd class="col-md-9">
                            @item.Contry
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.PostalCode):
                        </dt>
                        <dd class="col-md-9">
                            @item.PostalCode
                        </dd>
                        <dt class="col-md-3">
                            @Html.DisplayNameFor(model => model.PhoneNumber):
                        </dt>
                        <dd class="col-md-9">
                            @item.PhoneNumber
                        </dd>
                        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfRegistration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfRegistration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastLogin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastLogin)
        </dd>*@
                    </dl>
                    <div>
                        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
                        <a asp-controller="Home" asp-action="Index">Back to List</a> |
                        <a>Delete</a>
                    </div>
                </div>               
            </div>
        </div>
    </div>